<!DOCTYPE html>
<html en-USlang="{{ site.lang | default: "" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="#157878" name="theme-color">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
-->
      <link href="{{ '/assets/css/board.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">

  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a class="btn" href="index.html">Leaderboard</a>
        <a class="btn" href="signup.html">Signup</a>
    </header>
    <main class="main-content" id="content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits"><div align="center">Design by Khushraj
        </div></span>
      </footer>
    </main>
  </body>
</html>
